 ul.topnav{
    float: left;
    width: 800px;
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(100, 93, 93);
    

ul.topnav li{
    float: inherit; 
    margin: 20px;
 }
ul.topnav a{
    display: inline-block;
    color: rgb(232, 234, 247);
    text-align: center;
    padding: 0;
    margin: 15px;
    text-decoration: none;
    transition: .3s;
    font-size: 30px;
    text-transform: uppercase;

}
ul.topnav a:hover{
    background-color: rgb(102, 73, 206);
    width: auto;
}
ul.topnav li.icon{
    display: none;

} 
/* =============================================================== */


